<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <br/>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
      
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Add a catchy title" type="text" id="title" class="form-control" required/>
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback">please add title</div>
      </div>
       
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="Enter description" class="form-control" id="description" required></textarea>
        <div class="invalid-feedback">please add description</div>
      </div>
      
      <!-- <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input name="listing[image]" placeholder="Enter image URL/Link" type="text" class="form-control" id="image"/>
      </div> -->

      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input name="listing[image]" type="file" class="form-control" id="image" required/>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" placeholder="1200" class="form-control" id="price" required/>
           <div class="invalid-feedback">please enter price</div>
         
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input name="listing[country]" placeholder="India" type="text" class="form-control" id="country" required/>
           <div class="invalid-feedback">please enter country</div>
        </div>
      </div>
      <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" placeholder="Pune, Maharashtra" type="text" class="form-control" id="location" required/>
           <div class="invalid-feedback">please enter location</div>
      </div>

      <button class="btn btn-dark add-btn">Add</button>
      <br><br>
    </form>
  </div>
</div>
