body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}
/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    height: 6rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.f-info-socials i {
    font-size: 1.2rem;
    cursor: pointer;
   
}

.listing-card {
    border: none !important;
    cursor: pointer;
}

.card img {
    border-radius: 10px !important;
}
.card-text {
    font-weight: 500 !important;
}
.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.3;
    background-color: white;
}
/* New Page */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}
.add-btn:hover {
    background-color: #fa0212 !important;
}

/* Edit Page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}
.edit-btn:hover {
    background-color: #f70515 !important;
}
.card-body {
      padding: 0 !important;
}


#map {
  height: 350px;
  width: 100%;
  border-radius: 10px;
}
